.menu_bar {
	border-bottom: 1px dotted silver;

	margin-bottom: 8px;
}

.user_links {
	text-align: right;

	width: 200px;

	float: right;
}

.user_menu {
	width: auto;

	float: left;
}

.content {
	position: relative;
	top: 6px;
}
