{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password.</p>
  {% endif %}

	<div style="margin-left: auto; margin-right: auto; width: 180px;">
  <form action="" method="post">
		{% csrf_token %}
    <label for="username">User name:</label>
		<br />
    <input type="text" name="username" value="" id="username">
		<br />
    <label for="password">Password:</label>
		<br />
    <input type="password" name="password" value="" id="password">

		<br />

    <input type="submit" value="Login" />
    <input type="hidden" name="next" value="/" />
  </form>
	</div>

{% endblock %}
